<table class="table">
    <thead>
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Especie</th>
        <th>info</th>
      </tr>
    </thead>
    <tbody>
     
      <tr>
        <td>
          <a href="{{ persona.images.main}}">
            <img src="{{ persona.images.main}}" alt="Lights" style="max-width:100px">
          </a>
        </td>
        <td>{{ persona.name.first}} {{ persona.name.middle}} {{ persona.name.last}}</td>
        <td>{{ persona.species}}</td>
       
      </tr>
      
    </tbody>
  </table>



  
  